<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/dashboard.css" rel="stylesheet" type="text/css">
    <title>DashBoard</title>
    </head>
    <body>
        <div id="dashboardContainer">
            <div id="leftSide">
                <h4>Welcome <i><%= currentUser.username %></i>, to your Dashboard</h4>

                <img src="/images/profileImage.png" id="profilePic">
                
                <form action="/sessions?_method=DELETE" method="POST">
                    <input id="logout" type="submit" value="Logout">
                </form>
                <span><%=customers.length %>: Clients</span>
                <div id="customers">
                        
                        <% for (var i=0; i < customers.length; i++) { %>
                        
                            <a href="#"><li class="customerName info"><%=customers[i].firstName + ' ' + customers[i].lastName%></li></a>
                        <% } %>
                      
                </div>
                
                <a id="addBarber" href="/app/user/new">Add New Barber</a>
                <br>
                <a id="backToSite" href="/">Back to site</a>
                
            </div>

            <div id="rightSide">
                <div id="topLevelContainer">
                    <div id="customerInfo">
                        <p class="info">First Name: <%=customers.firstName %></p>
                        <p class="info">Last Name:</p>
                        <p class="info">Email:</p>
                        <p class="info">Phone Number:</p>
                        <p class="info">Address:</p>
                        <p class="info">City:</p>
                        <p class="info">State:</p>
                        <p class="info">Zip:</p>
                    </div>
                    <div id="customerNotesContainer">
                        <textarea placeholder="notes" id="customerNotes"></textarea>
                    </div>
                </div>

                

                <div id="priceInfo">

                </div>

                <div id="barbers">
                        <% for (var i=0; i < barbers.length; i++) { %>
                        
                        <a href="#">
                            <li class="barberName info"><%=barbers[i].firstName + ' ' + barbers[i].lastName%></li>
                        </a>
                        
                        <% } %>

                </div>
            </div>
        </div>
    </body>
</html>
